/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Sep-2018, 14:30:02
    Author     : Dominic
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body 
{
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section 
{ 
    display:block;
}

nav ul 
{
    list-style:none;
}

blockquote, q 
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark 
{
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr 
{
    display: block;
    height: 1px;
    border: 0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
}

/*-----------------------Beginning of my Code---------------------------------*/

*{
    margin: 0;
    padding: 0;
}

/*Wrapper for the homepage*/
.wrapper-home
{
    margin: 0 0 auto 60px;
    width: 1100px;
}

/*Styling of the nav tag elements inside the list*/

.home-logo
{
    /*To add if wanted Can add hover effect on the logo*/
    height: 100px;
    width: 100px;
}
/*Styling for the whole navigation system*/
#navbar
{
    width: 100%;
    height: 100px;
    background-color: #000000
}

/*Styling for boxes in the navigation bar*/
#navbar div ul a
{
    height: 100px;
    list-style: none;
    display: inline-block;
    line-height: 100px;
    float: left;
}

/*Styling for the links to other pages on site*/
.interactive-menu
{
    display: block;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: arial, sans-serif;
    color: #ffffff;
}

/*Hover effects for the links to other pages on site*/
.interactive-menu:hover
{
    background-color: #ffffff;
    color: #000;
    transition: all .0001s ease-in 0s;
    -webkit-transition: all .01s linear 0s;
    -moz-transition: all .01s linear 0s;
    -o-transition: all .01s linear 0s;
}

/*Styling for the login system div*/
.login
{
    float: right;
}

/*Styling for the form in login*/
header .login form
{
    float: left;
    padding-top: 30px;
}

/*Styling for the input boxes in login*/
header .login form input
{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #cccccc;
}

/*Styling for the submit button in login*/
header .login form button
{
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #666666;
    cursor: pointer;
}

/*Hover effect for submit button in login*/
header .login form button:hover
{
    background-color: #cccccc;
}

/*Styling for sign up button in login*/
.login a
{
    display: block;
    width: 50px;
    height: 60px;
    border: none;
    text-decoration: none;
    float: left;
    font-size: 16px;
    color: #ffffff;
    line-height: 90px;
    cursor: pointer;
}


/*Detect the height of the browser*/
html, body 
{
    height: 100%;
}

#container 
{
    min-height: 100%;
}

#main
{
    font-size: 20px;
    overflow: auto;
    width: 100%;
    background-color: #000066;
    padding-bottom: 100px;
}

#mainmenu
{
    text-decoration: none;
}

/*--------------------------------Signup Page---------------------------------*/

.signup-form
{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input
{
    width: 90%;
    height: 40px;
    margin-bottom: 4px;
    padding: 0px 5%;
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signup-form button
{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    padding: 0px 5%;
    border: none;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}


.signup-form button:hover
{
    background-color: #111;
}

  /*-------------------footer-------------------*/
/*Keeps Footer at base of page no matter the size of the content*/
#footer
{
    background-color: black;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

#footer a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
}

.footer-links
{
    height: 50px;
    margin-left: 50px;
    
}


/*------------------Responsive design elements--------------------------*/
/*Phone website design*/
@media only screen and (min-width: 768px)
{
    
    
}

/*Tablet website design*/
@media only screen and (min-width: 1000px)
{
    
    
}

/*-----------------------Contact Page------------------------*/
.form
{
    width: 300px;
    color: #ffffff;
    
}